@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f6f2ff;
    font-family: "Lilita One", sans-serif;
    color: #3c2c5b;
}


li, a {
    
    font-weight: 500;
    font-size: 20px;
    color: #3c2c5b;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 30px 10%;
}

nav {
    display: flex;
    align-items: center;

}
ul {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    
}

.nav-links li {
    
    display: inline-block;
    padding: 0px 20-px;
    
}

.nav-links li a {
    transition: all 0.4s ease 0s;
    
}

.nav-links li a:hover {
    color:#ff5031;
    cursor: pointer;
    font-size: larger;
}



.welcome {
    display: flex;
}

.welcome-text {
    font-size: 100px;
   color: #ff5031;
    
}
