@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: "Lilita One", sans-serif;
    color: #3c2c5b;
}

html {
    scroll-behavior: smooth;
}

li, a {
    font-weight: 500;
    font-size: 30px;
    color: #3c2c5b;
    text-decoration: none;
}

header {
   
    height: 75px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;


}
ul {
    width: 575px;
    display: flex;
    justify-content: space-between;
}

.name {
    justify-content: left;
}

.logo {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 50%;
    
    
}

.left-nav {
    display: flex;

}

.logo:hover {
    box-shadow: 1px 1px 1px 1px rgb(43, 40, 40);
}

.name {
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.nav-links {
    list-style: none;
    
}

.nav-links li {
    
    display: inline-block;
    
    
}

.nav-links li a {
    transition: all 0.4s ease 0s;
    
}

.nav-links li a:hover {
    color:#ff5031;
    cursor: pointer;
    font-size: larger;
}

.padding {
    padding-right: 50px;
    padding-left: 50px;
}
.landing-div {
    background-color: #f6f2ff;
    width: 100vw;
    height: calc(100vh - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.welcome-text {
   font-size: 125px;
   color: #ff5031;
   text-align: center;
  
}

.welcome-message {
    font-size: 45px;
    color:#3c2c5b;
    text-align: center;
}

.about-me-div {
    background-color: #f6f2ff;
    width: 100vw;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
}



.about-me-image {
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: #61ccff;
    border-weight: 10px;
    border-radius: 15px 50px 30px;
}

.about-me-text {
   font-size: 125px;
   color: #61ccff;
   text-align: center;
  
}

.about-me-message {
    font-size: 35px;
    color:#3c2c5b;
    text-align: center;
}

.my-work-div {
    background-color: #f6f2ff;
    width: 100vw;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}

.apps-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: space-between;
}

.main-app {
    height: 280px;
    width: 100%;
    border-style: solid;
    background-image: url("./Screen\ Shot\ 2022-06-21\ at\ 8.58.32\ PM.png");
    background-size: contain;
    justify-content: center;
    align-items:center;
    
}

.app {
    height: 300px;
    width: 30%;
    border-style: solid;
    border:#3c2c5b;
    flex-direction: row;
    border: 1px solid black;
    margin-top: 20px;
}

.second-project { 
    background-image: url("./Screen\ Shot\ 2022-06-21\ at\ 9.05.48\ PM.png");
    background-size: contain;
}

.third-project { 
    background-image: url("./Screen\ Shot\ 2022-06-21\ at\ 9.12.06\ PM.png");
    background-size: contain;
}

.fourth-project { 
    background-image: url("./Screen\ Shot\ 2022-06-21\ at\ 9.14.54\ PM.png");
    background-size: contain;
}
.my-work-image {
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: #61ccff;
    border-weight: 10px;
    border-radius: 15px 50px 30px;
}

.my-work-text {
   font-size: 125px;
   color: #61ccff;
   text-align: center;
  
}

.my-work-message {
    font-size: 35px;
    color:#3c2c5b;
    text-align: center;
}

.contact-me-div {
    background-color: #f6f2ff;
    width: 100vw;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contact-me-image {
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: #61ccff;
    border-weight: 10px;
    border-radius: 15px 50px 30px;
}

.contact-me-text {
   font-size: 125px;
   color: #61ccff;
   text-align: center;
  
}

.contact-me-message {
    font-size: 35px;
    color:#3c2c5b;
    text-align: center;
}

.resume-div {
    background-color: #f6f2ff;
    width: 100vw;
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.resume-image {
    width: 400px;
    height: 400px;
    border-style: solid;
    border-color: #61ccff;
    border-weight: 10px;
    border-radius: 15px 50px 30px;
}

.resume-text {
   font-size: 125px;
   color: #61ccff;
   text-align: center;
  
}

.resume-message {
    font-size: 35px;
    color:#3c2c5b;
    text-align: center;
}





 
