@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: "Lilita One", sans-serif;
    color: #3c2c5b;
}


li, a {
    font-weight: 500;
    font-size: 30px;
    color: #3c2c5b;
    text-decoration: none;
}

header {
   
    height: 75px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;


}
ul {
    width: 575px;
    display: flex;
    justify-content: space-between;
}

.name {
    justify-content: left;
}

.logo {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 50%;
    
    
}

.logo:hover {
    box-shadow: 1px 1px 1px 1px rgb(43, 40, 40);
}

.name {
    display: flex;
    margin-right: 450px;
    align-items: center;
}
.nav-links {
    list-style: none;
    
}

.nav-links li {
    
    display: inline-block;
    padding: 0px 20-px;
    
}

.nav-links li a {
    transition: all 0.4s ease 0s;
    
}

.nav-links li a:hover {
    color:#ff5031;
    cursor: pointer;
    font-size: larger;
}

.landing-div {
    background-color: #f6f2ff;
    width: 100vw;
    height: calc(100vh - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.welcome-text {
   font-size: 125px;
   color: #ff5031;
  
}

.welcome-message {
    font-size: 45px;
    color:#3c2c5b;
}

 
